Assignment Web_scraping -4

In [15]:
# importing librarys 
import selenium
import pandas as pd 
from selenium import webdriver
import warnings 
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By 
import time
import requests
import base64
import re
from selenium.common.exceptions import NoSuchElementException 
from selenium.webdriver.common.keys import Keys

In [2]:
# connecting to chrome driver 
driver = webdriver.Chrome(r"C:\Users\ganes\Downloads\Internship_assignment\Chrome_Driver\chromedriver_win32\chromedriver.exe")

Question 1. Scrape the details of most viewed videos on YouTube from Wikipedia.
           Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos

In [3]:
# connecting the webpage according to Question 
driver.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')

In [4]:
rank=[]
rank_list= driver.find_elements(By.XPATH,'/html/body/div[2]/div/div[3]/main/div[3]/div[3]/div[1]/table[2]/tbody/tr/td[1]')
for i in rank_list:
    rank_lis=i.text
    rank.append(rank_lis)
len(rank)

30

In [7]:
video_name=[]
video_names= driver.find_elements(By.XPATH,'/html/body/div[2]/div/div[3]/main/div[3]/div[3]/div[1]/table[2]/tbody/tr/td[2]')
for i in video_names:
    video_nam=i.text
    modified_string = video_nam[:-4]
    video_name.append(modified_string)
len(video_name)

30

In [8]:
uploader_name=[]
uploader_names= driver.find_elements(By.XPATH,'/html/body/div[2]/div/div[3]/main/div[3]/div[3]/div[1]/table[2]/tbody/tr/td[3]')
for i in uploader_names:
    uploader_nam=i.text
    uploader_name.append(uploader_nam)
len(uploader_name)

30

In [9]:
views_in_billions=[]
views_in_billion= driver.find_elements(By.XPATH,'/html/body/div[2]/div/div[3]/main/div[3]/div[3]/div[1]/table[2]/tbody/tr/td[4]')
for i in views_in_billion:
    views_in_billio=i.text
    views_in_billions.append(views_in_billio)
len(views_in_billions)

30

In [10]:
publication_date=[]
publication_dates= driver.find_elements(By.XPATH,'/html/body/div[2]/div/div[3]/main/div[3]/div[3]/div[1]/table[2]/tbody/tr/td[5]')
for i in publication_dates:
    publication_dat=i.text
    publication_date.append(publication_dat)
len(publication_date)

30

In [11]:
import pandas as pd
df = pd.DataFrame({'Rank':rank,'Video Name':video_name,'Uploader Name':uploader_name,'Views In Billions':views_in_billions,'Publication Date':publication_date})
df

,Rank,Video Name,Uploader Name,Views In Billions,Publication Date
0,1.,"""Baby Shark Dance",Pinkfong Baby Shark - Kids' Songs & Stories,12.85,"June 17, 2016"
1,2.,"""Despacito",Luis Fonsi,8.16,"January 12, 2017"
2,3.,"""Johny Johny Yes Papa""",LooLoo Kids,6.70,"October 8, 2016"
3,4.,"""Bath Song""",Cocomelon – Nursery Rhymes,6.20,"May 2, 2018"
4,5.,"""Shape of You""",Ed Sheeran,6.00,"January 30, 2017"
5,6.,"""See You Again""",Wiz Khalifa,5.89,"April 6, 2015"
6,7.,"""Phonics Song with Two Words""",ChuChu TV,5.30,"March 6, 2014"
7,8.,"""Wheels on the Bus""",Cocomelon – Nursery Rhymes,5.24,"May 24, 2018"
8,9.,"""Uptown Funk""",Mark Ronson,4.92,"November 19, 2014"
9,10.,"""Learning Colors – Colorful Eggs on a Farm""",Miroshka TV,4.89,"February 27, 2018"
10,11.,"""Gangnam Style""",Psy,4.80,"July 15, 2012"
11,12.,"""Masha and the Bear – Recipe for Disaster""",Get Movies,4.55,"January 31, 2012"
12,13.,"""Dame Tu Cosita""",El Chombo,4.35,"April 5, 2018"
13,14.,"""Axel F""",Crazy Frog,3.91,"June 16, 2009"
14,15.,"""Sugar""",Maroon 5,3.87,"January 14, 2015"
15,16.,"""Roar""",Katy Perry,3.80,"September 5, 2013"
16,17.,"""Counting Stars""",OneRepublic,3.79,"May 31, 2013"
17,18.,"""Sorry""",Justin Bieber,3.66,"October 22, 2015"
18,19.,"""Baa Baa Black Sheep""",Cocomelon – Nursery Rhymes,3.64,"June 25, 2018"
19,20.,"""Thinking Out Loud""",Ed Sheeran,3.60,"October 7, 2014"
20,21.,"""Waka Waka (This Time for Africa)""",Shakira,3.59,"June 4, 2010"
21,22.,"""Dark Horse""",Katy Perry,3.52,"February 20, 2014"
22,23.,"""Lakdi Ki Kathi""",Jingle Toons,3.48,"June 14, 2018"
23,24.,"""Faded""",Alan Walker,3.45,"December 3, 2015"
24,25.,"""Perfect""",Ed Sheeran,3.45,"November 9, 2017"
25,26.,"""Let Her Go""",Passenger,3.44,"July 25, 2012"
26,27.,"""Girls Like You""",Maroon 5,3.42,"May 31, 2018"
27,28.,"""Humpty the train on a fruits ride""",Kiddiestv Hindi – Nursery Rhymes & Kids Songs,3.41,"January 26, 2018"
28,29.,"""Lean On""",Major Lazer,3.38,"March 22, 2015"
29,30.,"""Bailando""",Enrique Iglesias,3.38,"April 11, 2014"

Question 2. Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.

In [2]:
# connecting to chrome driver 
driver = webdriver.Chrome(r"C:\Users\ganes\Downloads\Internship_assignment\Chrome_Driver\chromedriver_win32\chromedriver.exe")

In [3]:
# connecting the webpage according to Question 
driver.get('https://www.bcci.tv/')

In [4]:
search = driver.find_element(By.XPATH,'/html/body/nav/div[1]/div[2]/ul[1]/li[2]/a')
search.click()

In [5]:
Match_title=[]
Match_titles= driver.find_elements(By.XPATH,'/html/body/div[2]/div[2]/div/div/div/div[2]/div[3]/div[1]/div/div/div[3]/div/span[1]')
for i in Match_titles:
    Match_titl=i.text
    Match_title.append(Match_titl[:-2])
len(Match_title)

8

In [6]:
Series_name=[]
Series_names= driver.find_elements(By.XPATH,'/html/body/div[2]/div[2]/div/div/div/div[2]/div[3]/div[1]/div/div/div[1]/h5')
for i in Series_names:
    Series_nam=i.text
    Series_name.append(Series_nam)
len(Series_name)

8

In [11]:
Place_name=[]

Place_names1= driver.find_elements(By.XPATH,'/html/body/div[2]/div[2]/div/div/div/div[2]/div[3]/div[1]/div/div/div[3]/div/span[2]')
Place_names2= driver.find_elements(By.XPATH,'/html/body/div[2]/div[2]/div/div/div/div[2]/div[3]/div[1]/div/div/div[3]/div/span[3]')

for item1, item2 in zip(Place_names1, Place_names2):
    
    Place_nam1=item1.text
    Place_nam2=item2.text
    
    result = ' '.join([Place_nam1, Place_nam2])
    Place_name.append(result)
     
len(Place_name)

8

In [13]:
date=[]
dates= driver.find_elements(By.XPATH,'/html/body/div[2]/div[2]/div/div/div/div[2]/div[3]/div[1]/div/div/div[1]/div/div[1]')
for i in dates:
    dat=i.text
    date.append(dat)
len(date)

8

In [15]:
time=[]
times= driver.find_elements(By.XPATH,'/html/body/div[2]/div[2]/div/div/div/div[2]/div[3]/div[1]/div/div/div[1]/div/div[2]')
for i in times:
    tim=i.text
    time.append(tim)
len(time)

8

In [18]:
import pandas as pd
df = pd.DataFrame({'Match Title':Match_title,'Time':time,'Date':date,'Place Name':Place_name,'Series Name':Series_name})
df

,Match Title,Time,Date,Place Name,Series Name
0,1st Test,7:30 PM IST,12 JUL 2023,"Windsor Park, Dominica",INDIA TOUR OF WEST INDIES 2023
1,2nd Test,7:30 PM IST,20 JUL 2023,"Queen's Park Oval, Trinidad",INDIA TOUR OF WEST INDIES 2023
2,1st ODI,7:00 PM IST,27 JUL 2023,"Kensington Oval, Barbados",INDIA TOUR OF WEST INDIES 2023
3,2nd ODI,7:00 PM IST,29 JUL 2023,"Kensington Oval, Barbados",INDIA TOUR OF WEST INDIES 2023
4,3rd ODI,7:00 PM IST,1 AUG 2023,"Brian Lara Stadium, Trinidad",INDIA TOUR OF WEST INDIES 2023
5,1st T20I,8:00 PM IST,3 AUG 2023,"Brian Lara Stadium, Trinidad",INDIA TOUR OF WEST INDIES 2023
6,2nd T20I,8:00 PM IST,6 AUG 2023,"National Stadium, Guyana",INDIA TOUR OF WEST INDIES 2023
7,3rd T20I,8:00 PM IST,8 AUG 2023,"National Stadium, Guyana",INDIA TOUR OF WEST INDIES 2023

Question 3. Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/

In [ ]:
# connecting to chrome driver 
driver = webdriver.Chrome(r"C:\Users\ganes\Downloads\Internship_assignment\Chrome_Driver\chromedriver_win32\chromedriver.exe")

In [19]:
# connecting the webpage according to Question 
driver.get('https://statisticstimes.com/')

In [22]:
search = driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/button')
search.click()

In [23]:
search = driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]')
search.click()

In [24]:
search = driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[2]/ul/li[1]/a')
search.click()

In [30]:
for _ in range(4):
    driver.execute_script("window.scrollBy(0,500)")

In [32]:
Rank=[]
Ranks= driver.find_elements(By.XPATH,'/html/body/div[3]/div[2]/div[5]/div[1]/div/table/tbody/tr/td[1]')
for i in Ranks:
    Ran=i.text
    Rank.append(Ran)
len(Rank)

33

In [34]:
State=[]
States= driver.find_elements(By.XPATH,'/html/body/div[3]/div[2]/div[5]/div[1]/div/table/tbody/tr/td[2]')
for i in States:
    Stat=i.text
    State.append(Stat)
len(State)

33

In [41]:
GSDP_18_19_at_current_prices=[]
GSDP_18_19_at_current_price= driver.find_elements(By.XPATH,'/html/body/div[3]/div[2]/div[5]/div[1]/div/table/tbody/tr/td[3]')
for i in GSDP_18_19_at_current_price:
    GSDP_18_19_at_current_pric=i.text
    GSDP_18_19_at_current_prices.append(GSDP_18_19_at_current_pric)
len(GSDP_18_19_at_current_prices)

33

In [42]:
GSDP_19_20_at_current_prices=[]
GSDP_19_20_at_current_price= driver.find_elements(By.XPATH,'/html/body/div[3]/div[2]/div[5]/div[1]/div/table/tbody/tr/td[4]')
for i in GSDP_19_20_at_current_price:
    GSDP_19_20_at_current_pric=i.text
    GSDP_19_20_at_current_prices.append(GSDP_19_20_at_current_pric)
len(GSDP_19_20_at_current_prices)

33

In [44]:
Share_18_19=[]
Share_18_19_= driver.find_elements(By.XPATH,'/html/body/div[3]/div[2]/div[5]/div[1]/div/table/tbody/tr/td[5]')
for i in Share_18_19_:
    Share_18_19__=i.text
    Share_18_19.append(Share_18_19__)
len(Share_18_19)

33

In [47]:
GDP_doller_billion=[]
GDP_doller_billions= driver.find_elements(By.XPATH,'/html/body/div[3]/div[2]/div[5]/div[1]/div/table/tbody/tr/td[6]')
for i in GDP_doller_billions:
    GDP_doller_billio=i.text
    GDP_doller_billion.append(GDP_doller_billio)
len(GDP_doller_billion)

33

In [49]:
import pandas as pd
df = pd.DataFrame({'Rank':Rank,'State':State,'GSDP(18-19)- at current prices':GSDP_18_19_at_current_prices,'GSDP(19-20)- at current prices':GSDP_19_20_at_current_prices,'Share(18-19)':Share_18_19,'GDP($ billion)':GDP_doller_billion})
df

,Rank,State,GSDP(18-19)- at current prices,GSDP(19-20)- at current prices,Share(18-19),GDP($ billion)
0,1,Maharashtra,-,"2,632,792",13.94%,399.921
1,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726
3,4,Gujarat,-,"1,502,899",7.96%,228.290
4,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806
5,6,West Bengal,"1,253,832","1,089,898",5.77%,165.556
6,7,Rajasthan,"1,020,989","942,586",4.99%,143.179
7,8,Andhra Pradesh,"972,782","862,957",4.57%,131.083
8,9,Telangana,"969,604","861,031",4.56%,130.791
9,10,Madhya Pradesh,"906,672","809,592",4.29%,122.977
10,11,Kerala,-,"781,653",4.14%,118.733
11,12,Delhi,"856,112","774,870",4.10%,117.703
12,13,Haryana,"831,610","734,163",3.89%,111.519
13,14,Bihar,"611,804","530,363",2.81%,80.562
14,15,Punjab,"574,760","526,376",2.79%,79.957
15,16,Odisha,"521,275","487,805",2.58%,74.098
16,17,Assam,-,"315,881",1.67%,47.982
17,18,Chhattisgarh,"329,180","304,063",1.61%,46.187
18,19,Jharkhand,"328,598","297,204",1.57%,45.145
19,20,Uttarakhand,-,"245,895",1.30%,37.351
20,21,Jammu & Kashmir,-,"155,956",0.83%,23.690
21,22,Himachal Pradesh,"165,472","153,845",0.81%,23.369
22,23,Goa,"80,449","73,170",0.39%,11.115
23,24,Tripura,"55,984","49,845",0.26%,7.571
24,25,Chandigarh,-,"42,114",0.22%,6.397
25,26,Puducherry,"38,253","34,433",0.18%,5.230
26,27,Meghalaya,"36,572","33,481",0.18%,5.086
27,28,Sikkim,"32,496","28,723",0.15%,4.363
28,29,Manipur,"31,790","27,870",0.15%,4.233
29,30,Nagaland,-,"27,283",0.14%,4.144
30,31,Arunachal Pradesh,-,"24,603",0.13%,3.737
31,32,Mizoram,"26,503","22,287",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

Question 4. Scrape the details of trending repositories on Github.com.
Url = https://github.com/

In [ ]:
# connecting to chrome driver 
driver = webdriver.Chrome(r"C:\Users\ganes\Downloads\Internship_assignment\Chrome_Driver\chromedriver_win32\chromedriver.exe")

In [51]:
# connecting the webpage according to Question 
driver.get('https://github.com/')

In [53]:
search = driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/button')
search.click()

In [54]:
search = driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/div[3]/ul/li[2]/a')
search.click()

In [55]:
Repository_title=[]
Repository_titles= driver.find_elements(By.XPATH,'/html/body/div[1]/div[4]/main/div[3]/div/div[2]/article/h2/a')
for i in Repository_titles:
    Repository_titl=i.text
    Repository_title.append(Repository_titl)
len(Repository_title)

25

In [61]:
Repository_description=[]
base_xpath = "/html/body/div[1]/div[4]/main/div[3]/div/div[2]/article"
for i in range(1, 26):  
    xpath = base_xpath + f"[{i}]/p"
        
    try:
        result= driver.find_element(By.XPATH,xpath)
        Repository_descriptio=result.text
        Repository_description.append(Repository_descriptio)
    except NoSuchElementException :
        Repository_description.append('-')
    
len(Repository_description)

25

In [63]:
Contributors_count=[]
Contributors_counts= driver.find_elements(By.XPATH,'/html/body/div[1]/div[4]/main/div[3]/div/div[2]/article/div[2]/a[2]')
for i in Contributors_counts:
    Contributors_coun=i.text
    Contributors_count.append(Contributors_coun)
len(Contributors_count)

25

In [67]:
Language_used=[]
base_xpath = "/html/body/div[1]/div[4]/main/div[3]/div/div[2]/article"
for i in range(1, 26):  
    xpath = base_xpath + f"[{i}]/div[2]/span[1]/span[2]"
    
    try:
        Language_useds= driver.find_element(By.XPATH,xpath)
        Language_use=Language_useds.text
        Language_used.append(Language_use)
    except NoSuchElementException :
        Language_used.append('-')
    
len(Language_used)

25

In [69]:
list_no=list(range(1,len(Repository_title)+1))

In [70]:
import pandas as pd
df = pd.DataFrame({'List No':list_no,'Repository Title':Repository_title,'Language Used':Language_used,'Contributors Count':Contributors_count,'Repository Description':Repository_description})
df

,List No,Repository Title,Language Used,Contributors Count,Repository Description
0,1,sadmann7 / skateshop,TypeScript,151,An open source e-commerce skateshop build with...
1,2,sveltejs / svelte,JavaScript,"3,670",Cybernetically enhanced web apps
2,3,Stability-AI / generative-models,Python,243,Generative Models by Stability AI
3,4,CASIA-IVA-Lab / FastSAM,Python,75,Fast Segment Anything
4,5,a16z-infra / ai-getting-started,TypeScript,318,A Javascript AI getting started stack for week...
5,6,spacedriveapp / spacedrive,Rust,529,Spacedrive is an open source cross-platform fi...
6,7,SkalskiP / top-cvpr-2023-papers,Python,48,This repository is a curated collection of the...
7,8,zksync / credo,-,509,-
8,9,chat2db / Chat2DB,Java,151,🔥 🔥 🔥 An intelligent and versatile general-pur...
9,10,embedchain / embedchain,Python,68,Framework to easily create LLM powered bots ov...
10,11,papers-we-love / papers-we-love,Shell,"5,354",Papers from the computer science community to ...
11,12,ventoy / Ventoy,C,"3,561",A new bootable USB solution.
12,13,sindresorhus / awesome,-,"26,024",😎 Awesome lists about all kinds of interesting...
13,14,ramonvc / freegpt-webui,Python,21,GPT 3.5/4 with a Chat Web UI. No API key requi...
14,15,nayuki / QR-Code-generator,Java,963,High-quality QR Code generator library in Java...
15,16,devfullcycle / imersao13,TypeScript,64,-
16,17,PlexPt / awesome-chatgpt-prompts-zh,-,"12,537",ChatGPT 中文调教指南。各种场景使用指南。学习怎么让它听你的话。
17,18,TodePond / DreamBerd,-,93,perfect programming language
18,19,PCSX2 / pcsx2,C++,"1,488",PCSX2 - The Playstation 2 Emulator
19,20,s0md3v / sd-webui-roop,Python,169,roop extension for StableDiffusion web-ui
20,21,xtekky / gpt4free,Python,"10,621",The official gpt4free repository | various col...
21,22,acidanthera / OpenCorePkg,C,"2,026",OpenCore bootloader
22,23,firstcontributions / first-contributions,-,"61,310",🚀✨ Help beginners to contribute to open source...
23,24,Rapptz / discord.py,Python,"3,700",An API wrapper for Discord written in Python.
24,25,OpenDriveLab / UniAD,Python,127,[CVPR 2023 Best Paper] Planning-oriented Auton...

Qiestion 5. Scrape the details of top 100 songs on billiboard.com.
Url = https:/www.billboard.com/

In [2]:
# connecting to chrome driver 
driver = webdriver.Chrome(r"C:\Users\ganes\Downloads\Internship_assignment\Chrome_Driver\chromedriver_win32\chromedriver.exe")

In [3]:
# connecting the webpage according to Question 
driver.get('https:/www.billboard.com/')

In [4]:
search = driver.find_element(By.XPATH,'/html/body/div[3]/header/div/div[2]/div/div/div[2]/div[2]/div/div/nav/ul/li[1]/a')
search.click()

In [5]:
search = driver.find_element(By.XPATH,'/html/body/div[3]/main/div[2]/div[1]/div[1]/div/div/div[3]/a')
search.click()

In [6]:
Song_name=[]
Song_names= driver.find_elements(By.XPATH,'/html/body/div[3]/main/div[2]/div[3]/div/div/div/div[2]/div/ul/li[4]/ul/li[1]/h3')
for i in Song_names:
    Song_nam=i.text
    Song_name.append(Song_nam)
len(Song_name)

100

In [7]:
Artist_name=[]
Artist_names= driver.find_elements(By.XPATH,'/html/body/div[3]/main/div[2]/div[3]/div/div/div/div[2]/div/ul/li[4]/ul/li[1]/span')
for i in Artist_names:
    Artist_nam=i.text
    Artist_name.append(Artist_nam)
len(Artist_name)

100

In [8]:
Last_week_rank=[]
Last_week_ranks= driver.find_elements(By.XPATH,'/html/body/div[3]/main/div[2]/div[3]/div/div/div/div[2]/div/ul/li[4]/ul/li[4]/span')
for i in Last_week_ranks:
    Last_week_ran=i.text
    Last_week_rank.append(Last_week_ran)
len(Last_week_rank)

100

In [9]:
Peak_rank=[]
Peak_ranks= driver.find_elements(By.XPATH,'/html/body/div[3]/main/div[2]/div[3]/div/div/div/div[2]/div/ul/li[4]/ul/li[5]/span')
for i in Peak_ranks:
    Peak_ran=i.text
    Peak_rank.append(Peak_ran)
len(Peak_rank)

100

In [10]:
Weeks_on_board=[]
Weeks_on_boards= driver.find_elements(By.XPATH,'/html/body/div[3]/main/div[2]/div[3]/div/div/div/div[2]/div/ul/li[4]/ul/li[6]/span')
for i in Weeks_on_boards:
    Weeks_on_boar=i.text
    Weeks_on_board.append(Weeks_on_boar)
len(Weeks_on_board)

100

In [12]:
This_week_rank=[]
This_week_ranks= driver.find_elements(By.XPATH,'/html/body/div[3]/main/div[2]/div[3]/div/div/div/div[2]/div/ul/li[1]/span[1]')
for i in This_week_ranks:
    This_week_ran=i.text
    This_week_rank.append(This_week_ran)
len(This_week_rank)

100

In [13]:
import pandas as pd
df = pd.DataFrame({'This week rank':This_week_rank,'Song name':Song_name,'Artist name':Artist_name,'Last week rank':Last_week_rank,'Peak rank':Peak_rank,'Weeks on board':Weeks_on_board})
df

,This week rank,Song name,Artist name,Last week rank,Peak rank,Weeks on board
0,1,Last Night,Morgan Wallen,1,1,20
1,2,Flowers,Miley Cyrus,2,1,22
2,3,Fast Car,Luke Combs,4,3,12
3,4,Calm Down,Rema & Selena Gomez,3,3,41
4,5,All My Life,Lil Durk Featuring J. Cole,5,2,5
...,...,...,...,...,...,...
95,96,Save Me,Jelly Roll With Lainey Wilson,86,86,2
96,97,Yandel 150,Yandel & Feid,-,71,17
97,98,Beso,Rosalia & Rauw Alejandro,94,52,12
98,99,I Wrote The Book,Morgan Wallen,-,18,19
99,100,Hummingbird,Metro Boomin & James Blake,90,90,2

Question 6. Scrape the details of Highest sellingnovels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-
compare

In [2]:
# connecting to chrome driver 
driver = webdriver.Chrome(r"C:\Users\ganes\Downloads\Internship_assignment\Chrome_Driver\chromedriver_win32\chromedriver.exe")

In [3]:
# connecting the webpage according to Question 
driver.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare')

In [4]:
Rank=[]
Rank_lists= driver.find_elements(By.XPATH,'/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr/td[1]')
for i in Rank_lists:
    Rank_list=i.text
    Rank.append(Rank_list)
len(Rank)

100

In [5]:
Book_name=[]
Book_names= driver.find_elements(By.XPATH,'/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr/td[2]')
for i in Book_names:
    Book_nam=i.text
    Book_name.append(Book_nam)
len(Book_name)

100

In [6]:
Author_name=[]
Author_names= driver.find_elements(By.XPATH,'/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr/td[3]')
for i in Author_names:
    Author_nam=i.text
    Author_name.append(Author_nam)
len(Author_name)

100

In [7]:
Volumes_sold=[]
Volumes_solds= driver.find_elements(By.XPATH,'/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr/td[4]')
for i in Volumes_solds:
    Volumes_sol=i.text
    Volumes_sold.append(Volumes_sol)
len(Volumes_sold)

100

In [8]:
Publisher=[]
Publisher_name= driver.find_elements(By.XPATH,'/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr/td[5]')
for i in Publisher_name:
    Publisher_nam=i.text
    Publisher.append(Publisher_nam)
len(Publisher)

100

In [9]:
Genre=[]
Genre_name= driver.find_elements(By.XPATH,'/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr/td[6]')
for i in Genre_name:
    Genre_nam=i.text
    Genre.append(Genre_nam)
len(Genre)

100

In [10]:
df = pd.DataFrame({'Rank':Rank,'Book Name':Book_name,'Author Name':Author_name,'Volumes Sold':Volumes_sold,'Publisher':Publisher,'Genre':Genre})
df

,Rank,Book Name,Author Name,Volumes Sold,Publisher,Genre
0,1,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,2,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,3,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,4,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,5,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...,...
95,96,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,97,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,98,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,99,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,100,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

Question 7. Scrape the details most watched tv series of all time from imdb.com.
Url = https://www.imdb.com/list/ls095964455/

In [ ]:
# connecting to chrome driver 
driver = webdriver.Chrome(r"C:\Users\ganes\Downloads\Internship_assignment\Chrome_Driver\chromedriver_win32\chromedriver.exe")

In [12]:
# connecting the webpage according to Question 
driver.get('https://www.imdb.com/list/ls095964455/')

In [13]:
Name=[]
Name_tv= driver.find_elements(By.XPATH,'/html/body/div[2]/div/div[2]/div[3]/div[1]/div/div[3]/div[3]/div/div[2]/h3/a')
for i in Name_tv:
    Name_t=i.text
    Name.append(Name_t)
len(Name)

100

In [14]:
Year_span=[]
Year_span_tv= driver.find_elements(By.XPATH,'/html/body/div[2]/div/div[2]/div[3]/div[1]/div/div[3]/div[3]/div/div[2]/h3/span[2]')
for i in Year_span_tv:
    Year_span_t=i.text
    Year_span.append(Year_span_t)
len(Year_span)

100

In [15]:
Genre=[]
Genre_name= driver.find_elements(By.XPATH,'/html/body/div[2]/div/div[2]/div[3]/div[1]/div/div[3]/div[3]/div/div[2]/h3/span[2]')
for i in Genre_name:
    Genre_nam=i.text
    Genre.append(Genre_nam)
len(Genre)

100

In [16]:
Run_time=[]
Run_times= driver.find_elements(By.XPATH,'/html/body/div[2]/div/div[2]/div[3]/div[1]/div/div[3]/div[3]/div/div[2]/p[1]/span[3]')
for i in Run_times:
    Run_tim=i.text
    Run_time.append(Run_tim)
len(Run_time)

100

In [17]:
Ratings=[]
Ratings_tv= driver.find_elements(By.XPATH,'/html/body/div[2]/div/div[2]/div[3]/div[1]/div/div[3]/div[3]/div/div[2]/div[1]/div[1]/span[2]')
for i in Ratings_tv:
    Ratings_t=i.text
    Ratings.append(Ratings_t)
len(Ratings)

100

In [18]:
Votes=[]
Votes_tv= driver.find_elements(By.XPATH,'/html/body/div[2]/div/div[2]/div[3]/div[1]/div/div[3]/div[3]/div/div[2]/p[4]/span[2]')
for i in Votes_tv:
    Votes_t=i.text
    Votes.append(Votes_t)
len(Votes)

100

In [23]:
List_No=list(range(1,len(Name)+1))

In [24]:
df = pd.DataFrame({'List No':List_No,'Name':Name,'Year span':Year_span,'Genre':Genre,'Run_time':Run_time,'Ratings':Ratings,'Votes':Votes})
df

,List No,Name,Year span,Genre,Run_time,Ratings,Votes
0,1,Game of Thrones,(2011–2019),(2011–2019),57 min,9.2,"2,173,759"
1,2,Stranger Things,(2016–2024),(2016–2024),51 min,8.7,"1,251,705"
2,3,The Walking Dead,(2010–2022),(2010–2022),44 min,8.1,"1,032,518"
3,4,13 Reasons Why,(2017–2020),(2017–2020),60 min,7.5,"303,581"
4,5,The 100,(2014–2020),(2014–2020),43 min,7.6,"262,749"
...,...,...,...,...,...,...,...
95,96,Reign,(2013–2017),(2013–2017),42 min,7.4,"51,963"
96,97,A Series of Unfortunate Events,(2017–2019),(2017–2019),50 min,7.8,"63,996"
97,98,Criminal Minds,(2005– ),(2005– ),42 min,8.1,"208,555"
98,99,Scream: The TV Series,(2015–2019),(2015–2019),45 min,7.1,"43,403"
99,100,The Haunting of Hill House,(2018),(2018),572 min,8.6,"260,234"

Question 8. Details of Datasets from UCI machine learning repositories.
Url = https://archive.ics.uci.edu/

In [2]:
# connecting to chrome driver 
driver = webdriver.Chrome(r"C:\Users\ganes\Downloads\Internship_assignment\Chrome_Driver\chromedriver_win32\chromedriver.exe")

In [12]:
# connecting the webpage according to Question 
driver.get('https://archive.ics.uci.edu/')

In [13]:
search = driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[1]/div/div/div/a[1]')
search.click()

In [16]:
Dataset_name=[]
Data_type=[]
Task=[]
Attribute_type=[]
No_of_instances=[]
Year=[]
true=1

expand = driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[2]/div[1]/div/label[2]/div[2]/span[2]')
expand.click()    
    
while true :
    
    Dataset_names= driver.find_elements(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[2]/div[2]/div/div[1]/div[2]/h2/a')
    for i in Dataset_names:
        Dataset_nam=i.text
        Dataset_name.append(Dataset_nam)

    Data_types= driver.find_elements(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[2]/div[2]/div/div[1]/div[2]/div/div[2]/span')
    for i in Data_types:
        Data_typ=i.text
        if len(Data_typ)<4:
            Data_typ='-'
        Data_type.append(Data_typ)

    Task_name= driver.find_elements(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[2]/div[2]/div/div[1]/div[2]/div/div[1]/span')
    for i in Task_name:
        Task_nam=i.text
        if len(Task_nam)<4:
            Task_nam='-'
        Task.append(Task_nam)

    Attribute_types= driver.find_elements(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr/td[2]')
    for i in Attribute_types:
        Attribute_typ=i.text
        if len(Attribute_typ)<4:
            Attribute_typ='-'
        Attribute_type.append(Attribute_typ)

    No_of_instance= driver.find_elements(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[2]/div[2]/div/div[1]/div[2]/div/div[3]/span')
    for i in No_of_instance:
        No_of_instanc=i.text
        if len(No_of_instanc)<4:
            No_of_instanc='-'
        No_of_instances.append(No_of_instanc)

    Year_names= driver.find_elements(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr/td[3]')
    for i in Year_names:
        Year_name=i.text
        Year.append(Year_name)  

    if len(Dataset_name)>620:
        true=0
    else :    
        next_page = driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[2]/div[3]/div/button[2]')
        next_page.click()  
    
    time.sleep(5)

In [17]:
List_No=list(range(1,len(Dataset_name)+1))

In [18]:
df = pd.DataFrame({'List No':List_No,'Dataset Name':Dataset_name,'Data Type':Data_type,'Task':Task,'Attribute Type':Attribute_type,'No of instances':No_of_instances,'Year':Year})
df

,List No,Dataset Name,Data Type,Task,Attribute Type,No of instances,Year
0,1,Iris,Multivariate,Classification,Real,150 Instances,7/1/1988
1,2,Heart Disease,Multivariate,Classification,"Categorical, Integer, Real",303 Instances,7/1/1988
2,3,Adult,Multivariate,Classification,"Categorical, Integer",48.84K Instances,5/1/1996
3,4,Dry Bean Dataset,Multivariate,Classification,"Integer, Real",13.61K Instances,9/14/2020
4,5,Diabetes,-,-,"Categorical, Integer",-,N/A
...,...,...,...,...,...,...,...
618,619,PMU-UD,Univariate,Classification,-,5.18K Instances,8/5/2018
619,620,chestnut â€“ LARVIC,null,"Classification, Clustering",-,1.45K Instances,5/30/2017
620,621,EBL Domain Theories,-,-,-,-,N/A
621,622,Moral Reasoner,-,-,-,202 Instances,6/1/1994
622,623,DGP2 - The Second Data Generation Program,-,-,Real,-,N/A

Question 9. Scrape the details of Data science recruiters Url = https://www.naukri.com/hr-recruiters-consultants

In [4]:
# connecting to chrome driver 
driver = webdriver.Chrome(r"C:\Users\ganes\Downloads\Internship_assignment\Chrome_Driver\chromedriver_win32\chromedriver.exe")

In [5]:
# connecting the webpage according to Question 
driver.get('https://www.naukri.com/hr-recruiters-consultants')

In [41]:
Company_Name=[]
Designation=[]
Skills_they_hire_for=[]
Location=[]

element_xpath = "/html/body/div[1]/div[4]/div/div/section/div[3]/div/a[2]"

while len(Company_Name)!=500:
    
    time.sleep(2)
    Company_Names= driver.find_elements(By.XPATH,'/html/body/div[1]/div[4]/div/div/section[3]/div[2]/article/div[1]/div[1]/div/a[1]')
    for i in Company_Names:                       
        Company_Nam=i.text
        Company_Name.append(Company_Nam)

    Designations= driver.find_elements(By.XPATH,'/html/body/div[1]/div[4]/div/div/section[3]/div[2]/article/div[1]/div/a')
    for i in Designations:                       
        Designatio=i.text
        Designation.append(Designatio)

    base_xpath = "/html/body/div[1]/div[4]/div/div/section[3]/div[2]/article"
    for i in range(1, 21):  
        xpath = base_xpath + f"[{i}]/ul/li"
        Skills_they_hire_fors=[]
        Skills_they_hire_fo= driver.find_elements(By.XPATH,xpath)
        for i in Skills_they_hire_fo:                       
            Skills_they_hire_f=i.text
            Skills_they_hire_fors.append(Skills_they_hire_f)
        Skills_they_hire_for.append(Skills_they_hire_fors)

    Locations= driver.find_elements(By.XPATH,'/html/body/div[1]/div[4]/div/div/section[3]/div[2]/article/div[1]/ul/li[3]/span')
    for i in Locations:                       
        Locatio=i.text
        Location.append(Locatio)
    
    element = driver.find_element(By.XPATH, element_xpath)
    driver.execute_script("arguments[0].scrollIntoView();", element)
    driver.execute_script("window.scrollBy(0, -100);")
    time.sleep(1)
    next_page = driver.find_element(By.XPATH,'/html/body/div[1]/div[4]/div/div/section/div[3]/div/a[2]')
    next_page.click() 
    time.sleep(1)

In [43]:
List_No=list(range(1,len(Company_Name)+1))

In [44]:
df = pd.DataFrame({'List No':List_No,'Company Name':Company_Name,'Designation':Designation,'Skills they hire for':Skills_they_hire_for,'Location':Location})
df

,List No,Company Name,Designation,Skills they hire for,Location
0,1,Advance Career Solutions,Hiring Freshers : HR Executive: Recruiter-Guru...,"[communication skills, Recruitment, Hrsd, Ac, ...","Gurgaon/ Gurugram, Haryana"
1,2,Muthoot Microfin,Assistant Manager - HR (Field Level Recruitment),"[NBFC, recruitment, Mass Hiring, Bulk Hiring, ...","Bhubaneswar, Odisha, Hubli, Karnataka, Sambalp..."
2,3,Ontrack Hr Services,Hiring For HR Recruiters,"[recruitment skills, good communication, Hirin...","Coimbatore, Tamil Nadu"
3,4,Lifecell,HR Intern,"[Recruitment, Recruitment Operations, Operatio...",Hybrid - Chennai
4,5,Definedge Solutions,HR Executive,"[Training, Recruitment, Development, Hrsd, Tra...",Pune
...,...,...,...,...,...
495,496,Rekhta Foundation,HR operations and payroll specialist,"[Payroll Management, Payroll Preparation, Stat...","Noida, Uttar Pradesh"
496,497,Tulip Lab,HR Head,"[Human Resource Management, Hrsd, Recruitment,...","Mumbai Suburban, Maharashtra"
497,498,JP Infra,HR Business Partner,"[talent acquisi, Performance, Management, Rela...","Mumbai, Maharashtra, Mumbai (All Areas)"
498,499,Rattanindia Power,HR Head For Power Plant at Amravati,"[Labour Relations, Strategic HR, IR, Relations...","Amravati, Maharashtra"
499,500,Vaibhav Global Ltd,HR MIS Professional,"[Process, Analytical, Data management, Managem...",Jaipur