Question1: Write a python program to display all the header tags from wikipedia.org and make data frame.

first install libraries

In [1]:
!pip install bs4
!pip install requests

Collecting bs4
  Downloading bs4-0.0.1.tar.gz (1.1 kB)
  Preparing metadata (setup.py) ... done
Requirement already satisfied: beautifulsoup4 in /opt/conda/lib/python3.10/site-packages (from bs4) (4.11.1)
Requirement already satisfied: soupsieve>1.2 in /opt/conda/lib/python3.10/site-packages (from beautifulsoup4->bs4) (2.3.2.post1)
Building wheels for collected packages: bs4
  Building wheel for bs4 (setup.py) ... done
  Created wheel for bs4: filename=bs4-0.0.1-py3-none-any.whl size=1257 sha256=81f223d6b07392b258d56e542f997fed851233fb53ed1332cf082018adb7cbfa
  Stored in directory: /home/jovyan/.cache/pip/wheels/e4/62/1d/d4d1bc4f33350ff84227f89b258edb552d604138e3739f5c83
Successfully built bs4
Installing collected packages: bs4
Successfully installed bs4-0.0.1
Requirement already satisfied: requests in /opt/conda/lib/python3.10/site-packages (2.28.1)
Requirement already satisfied: idna<4,>=2.5 in /opt/conda/lib/python3.10/site-packages (from requests) (3.4)
Requirement already satisfied: charset-normalizer<3,>=2 in /opt/conda/lib/python3.10/site-packages (from requests) (2.1.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /opt/conda/lib/python3.10/site-packages (from requests) (1.26.11)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/lib/python3.10/site-packages (from requests) (2022.9.24)

import required libraries

In [2]:
from bs4 import BeautifulSoup
import requests

send get request to the webpage server to get the source code of the page

In [3]:
page = requests.get('https://en.wikipedia.org/wiki/Main_Page')

In [4]:
page

In [5]:
soup = BeautifulSoup(page.content,'html.parser')

scraping title name

In [6]:
#first, i will use html tag where we have the first title of wikipedia page
first_title = soup.find('span',class_="mw-headline")
first_title

In [7]:
first_title.text

'Welcome to Wikipedia'

scraping first image

In [8]:
img=soup.find('a',class_='image')
img

<a class="image" href="/wiki/File:Painted_white_brick_wall_(Moscow)_02.JPG" title="A white brick wall, similar in appearance to that in the film"><img alt="A white brick wall, similar in appearance to that in the film" data-file-height="3456" data-file-width="4608" decoding="async" height="122" src="//upload.wikimedia.org/wikipedia/commons/thumb/d/d2/Painted_white_brick_wall_%28Moscow%29_02.JPG/162px-Painted_white_brick_wall_%28Moscow%29_02.JPG" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/d/d2/Painted_white_brick_wall_%28Moscow%29_02.JPG/243px-Painted_white_brick_wall_%28Moscow%29_02.JPG 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/d/d2/Painted_white_brick_wall_%28Moscow%29_02.JPG/324px-Painted_white_brick_wall_%28Moscow%29_02.JPG 2x" width="162"/></a>

In [9]:
url=img.get('href')
url

'/wiki/File:Painted_white_brick_wall_(Moscow)_02.JPG'

scraping image's caption

In [10]:
first_caption=soup.find('div',class_='thumbcaption')
first_caption.text

'A white brick wall, similar in appearance to that in the film'

scraping multiple title name

In [11]:
title = [] #empty list
for i in soup.find_all('span',class_="mw-headline"):
    title.append(i.text)
    
title

['Welcome to Wikipedia',
 "From today's featured article",
 'Did you know\xa0...',
 'In the news',
 'On this day',
 "From today's featured list",
 "Today's featured picture",
 'Other areas of Wikipedia',
 "Wikipedia's sister projects",
 'Wikipedia languages']

scraping multiple image url

In [12]:
image_url = []
for i in soup.find_all('a',class_='image'):
    image_url.append(i.get('href'))
    
image_url

['/wiki/File:Painted_white_brick_wall_(Moscow)_02.JPG',
 '/wiki/File:Carbatinae.png',
 '/wiki/File:Tina_Turner_50th_Anniversary_Tour.jpg',
 '/wiki/File:Edmund_Hillary_and_Tenzing_Norgay.jpg',
 '/wiki/File:Gandolfinigfdl.PNG',
 '/wiki/File:Everest-3D-Map-Type-EN.jpg']

scraping multiple image's caption

In [13]:
image_caption = []
for i in soup.find_all('div',class_='thumbcaption'):
    image_caption.append(i.text)
    
image_caption

['A white brick wall, similar in appearance to that in the film',
 'Carbatinae',
 'Tina Turner in 2009',
 'Edmund Hillary and Tenzing Norgay',
 'James Gandolfini']

In [14]:
#printing length
print(len(title),len(image_url),len(image_caption))

10 6 5

In [15]:
title1 = title[1:7]
title1

["From today's featured article",
 'Did you know\xa0...',
 'In the news',
 'On this day',
 "From today's featured list",
 "Today's featured picture"]

In [16]:
import pandas as pd

In [17]:
image_caption.append('no caption')

In [18]:
image_caption

['A white brick wall, similar in appearance to that in the film',
 'Carbatinae',
 'Tina Turner in 2009',
 'Edmund Hillary and Tenzing Norgay',
 'James Gandolfini',
 'no caption']

In [19]:
df = pd.DataFrame({'Title':title1,'Image_caption':image_caption,'Image_URL':image_url})
df

,Title,Image_caption,Image_URL
0,From today's featured article,"A white brick wall, similar in appearance to t...",/wiki/File:Painted_white_brick_wall_(Moscow)_0...
1,Did you know ...,Carbatinae,/wiki/File:Carbatinae.png
2,In the news,Tina Turner in 2009,/wiki/File:Tina_Turner_50th_Anniversary_Tour.jpg
3,On this day,Edmund Hillary and Tenzing Norgay,/wiki/File:Edmund_Hillary_and_Tenzing_Norgay.jpg
4,From today's featured list,James Gandolfini,/wiki/File:Gandolfinigfdl.PNG
5,Today's featured picture,no caption,/wiki/File:Everest-3D-Map-Type-EN.jpg

above website keep changing their contents it may be not excucate well .

Question2: Write s python program to display list of respected former presidents of India(i.e. Name , Term ofoffice)
from https://presidentofindia.nic.in/former-presidents.htm and make data frame.

In [20]:
page = requests.get('https://presidentofindia.nic.in/former-presidents.htm')
page

In [21]:
soup = BeautifulSoup(page.content,'html.parser')

scraping Former Presidents name,term of office , webpage , images

In [22]:
a=soup.find('div',class_="presidentListing")
a.text.split('\n')

['',
 'Shri Ram Nath Kovind (birth - 1945)',
 'Term of Office: 25 July, 2017 to 25 July, 2022 ',
 'https://ramnathkovind.nic.in',
 '']

In [23]:
presidents_name = []
term_of_office = []
presidents_web = []

for i in soup.find_all('div',class_="presidentListing"):
    a=i.text.split('\n')
    
    president=a[1]
    presidents_name.append(president)
    
    tof=a[2].split(':')[1]
    term_of_office.append(tof)
    
    pre_web=a[3]
    presidents_web.append(pre_web)
    
presidents_name
term_of_office
presidents_web

['https://ramnathkovind.nic.in',
 'http://pranabmukherjee.nic.in',
 'http://pratibhapatil.nic.in',
 'http://abdulkalam.nic.in',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '']

In [24]:
import pandas as pd

In [25]:
presidents_web

['https://ramnathkovind.nic.in',
 'http://pranabmukherjee.nic.in',
 'http://pratibhapatil.nic.in',
 'http://abdulkalam.nic.in',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '']

In [26]:
image_url = []
for i in soup.find_all('img',class_='alignLeft'):
    image_url.append(i.get('src'))
    
image_url

['Images/rnk.jpg',
 'Images/pranab.jpg',
 'Images/pratibha-patil.jpg',
 'Images/abdul-kalam.jpg',
 'Images/k-r-narayanan.jpg',
 'Images/shankar-dayal-sharma.jpg',
 'Images/venkataraman.jpg',
 'Images/giani-zail-singh.jpg',
 'Images/neelam-sanjiva-reddy.jpg',
 'Images/fakhruddin-ali-ahmed.jpg',
 'Images/varahagiri-venkata-giri.jpg',
 'Images/zakir-hussion.jpg',
 'Images/sarvepalli-radhakrishnan.jpg',
 'Images/rajendra-prasad.jpg']

In [27]:
df = pd.DataFrame({'President Name':presidents_name,'Term Of Office':term_of_office,'Presidents Website':presidents_web,'Image URL':image_url})
df

,President Name,Term Of Office,Presidents Website,Image URL
0,Shri Ram Nath Kovind (birth - 1945),"25 July, 2017 to 25 July, 2022",https://ramnathkovind.nic.in,Images/rnk.jpg
1,Shri Pranab Mukherjee (1935-2020),"25 July, 2012 to 25 July, 2017",http://pranabmukherjee.nic.in,Images/pranab.jpg
2,Smt Pratibha Devisingh Patil (birth - 1934),"25 July, 2007 to 25 July, 2012",http://pratibhapatil.nic.in,Images/pratibha-patil.jpg
3,DR. A.P.J. Abdul Kalam (1931-2015),"25 July, 2002 to 25 July, 2007",http://abdulkalam.nic.in,Images/abdul-kalam.jpg
4,Shri K. R. Narayanan (1920 - 2005),"25 July, 1997 to 25 July, 2002",,Images/k-r-narayanan.jpg
5,Dr Shankar Dayal Sharma (1918-1999),"25 July, 1992 to 25 July, 1997",,Images/shankar-dayal-sharma.jpg
6,Shri R Venkataraman (1910-2009),"25 July, 1987 to 25 July, 1992",,Images/venkataraman.jpg
7,Giani Zail Singh (1916-1994),"25 July, 1982 to 25 July, 1987",,Images/giani-zail-singh.jpg
8,Shri Neelam Sanjiva Reddy (1913-1996),"25 July, 1977 to 25 July, 1982",,Images/neelam-sanjiva-reddy.jpg
9,Dr. Fakhruddin Ali Ahmed (1905-1977),"24 August, 1974 to 11 February, 1977",,Images/fakhruddin-ali-ahmed.jpg
10,Shri Varahagiri Venkata Giri (1894-1980),"3 May, 1969 to 20 July, 1969 and 24 August, 1...",,Images/varahagiri-venkata-giri.jpg
11,Dr. Zakir Husain (1897-1969),"13 May, 1967 to 3 May, 1969",,Images/zakir-hussion.jpg
12,Dr. Sarvepalli Radhakrishnan (1888-1975),"13 May, 1962 to 13 May, 1967",,Images/sarvepalli-radhakrishnan.jpg
13,Dr. Rajendra Prasad (1884-1963),"26 January, 1950 to 13 May, 1962",,Images/rajendra-prasad.jpg

Question3:Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape and make data frame-
        a) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.
        b) Top 10 ODI Batsmen along with the records of their team andrating.
        c) Top 10 ODI bowlers along with the records of their team andrating.

In [28]:
page = requests.get('https://www.icc-cricket.com/rankings/mens/team-rankings/odi')
page

In [29]:
soup = BeautifulSoup(page.content,'html.parser')

scraping ODI Men's Team

In [30]:
ranking = []

for i in soup.find_all('td',class_="table-body__cell table-body__cell--position u-text-right"):
    ranking.append(i.text)
    
ranking.insert(0,'1')
ranking

['1',
 '2',
 '3',
 '4',
 '5',
 '6',
 '7',
 '8',
 '9',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '19',
 '20']

In [31]:
team = []

for i in soup.find_all('span',class_="u-hide-phablet"):
    team.append(i.text)
team

['Australia',
 'Pakistan',
 'India',
 'New Zealand',
 'England',
 'South Africa',
 'Bangladesh',
 'Afghanistan',
 'Sri Lanka',
 'West Indies',
 'Zimbabwe',
 'Ireland',
 'Scotland',
 'Nepal',
 'United States',
 'Namibia',
 'Netherlands',
 'Oman',
 'UAE',
 'Papua New Guinea']

In [32]:
matches = []
for i in soup.find_all('td',class_="rankings-block__banner--matches"):
    matches.append(i.text)
matches

['23']

In [33]:
points = []
for i in soup.find_all('td',class_="rankings-block__banner--points"):
    points.append(i.text)
points

['2,714']

In [34]:
#rating for australia
for i in soup.find_all('td',class_="rankings-block__banner--rating u-text-right"):
    a=i.text
    print(a)
    b=str(a)
    rating=([int(i) for i in b.split() if i.isdigit()])
    
rating

                            118

[118]

In [35]:
# for matches and points of team 
matches_points = []
for i in soup.find_all('td',class_="table-body__cell u-center-text"):
    matches_points.append(i.text)
for i in list(range(0,38,2)):
    matches.append(matches_points[i])
for i in list(range(1,38,2)):
    points.append(matches_points[i])

matches
points

['2,714',
 '2,316',
 '3,807',
 '2,806',
 '2,426',
 '1,910',
 '2,451',
 '878',
 '1,682',
 '1,797',
 '1,163',
 '826',
 '1,184',
 '1,254',
 '865',
 '813',
 '525',
 '344',
 '565',
 '106']

In [36]:
#for rating of teams 
for i in soup.find_all('td',class_="table-body__cell u-text-right rating"):
    rating.append(i.text)
rating

[118,
 '116',
 '115',
 '104',
 '101',
 '101',
 '98',
 '88',
 '80',
 '72',
 '51',
 '46',
 '46',
 '37',
 '35',
 '29',
 '26',
 '20',
 '18',
 '4']

In [37]:
df = pd.DataFrame({'Ranking':ranking,'Team':team,'Matches':matches,'Points':points,'Rating':rating})
df

   Ranking              Team Matches Points Rating
0        1         Australia      23  2,714    118
1        2          Pakistan      20  2,316    116
2        3             India      33  3,807    115
3        4       New Zealand      27  2,806    104
4        5           England      24  2,426    101
5        6      South Africa      19  1,910    101
6        7        Bangladesh      25  2,451     98
7        8       Afghanistan      10    878     88
8        9         Sri Lanka      21  1,682     80
9       10       West Indies      25  1,797     72
10      11          Zimbabwe      23  1,163     51
11      12           Ireland      18    826     46
12      13          Scotland      26  1,184     46
13      14             Nepal      34  1,254     37
14      15     United States      25    865     35
15      16           Namibia      28    813     29
16      17       Netherlands      20    525     26
17      18              Oman      17    344     20
18      19               UAE      32    565     18
19      20  Papua New Guinea      28    106      4

In [38]:
#Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.
df.head(10)

  Ranking          Team Matches Points Rating
0       1     Australia      23  2,714    118
1       2      Pakistan      20  2,316    116
2       3         India      33  3,807    115
3       4   New Zealand      27  2,806    104
4       5       England      24  2,426    101
5       6  South Africa      19  1,910    101
6       7    Bangladesh      25  2,451     98
7       8   Afghanistan      10    878     88
8       9     Sri Lanka      21  1,682     80
9      10   West Indies      25  1,797     72

Top 10 ODI Batsmen along with the records of their team andrating.

In [39]:
page = requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting')
page

In [40]:
soup = BeautifulSoup(page.content,'html.parser')

In [41]:
player = []
for i in soup.find_all('div',class_="rankings-block__banner--name-large"):
    player.append(i.text)
for i in soup.find_all('td',class_="table-body__cell rankings-table__name name"):
    player.append(i.text.split('\n')[1])
len(player)

100

In [42]:
team = []
for i in soup.find_all('div',class_="rankings-block__banner--nationality"):
    team.append(i.text.split('\n')[2])
for i in soup.find_all('span',class_="table-body__logo-text"):
    team.append(i.text)
len(team)

100

In [43]:
rating = []
for i in soup.find_all('div',class_="rankings-block__banner--rating"):
    rating.append(i.text)
for i in soup.find_all('td',class_="table-body__cell rating"):
    rating.append(i.text)
len(rating)

100

In [44]:
position = list(range(1,101))

In [45]:
df = pd.DataFrame({'Position':position,'Player':player,'Team':team,'Rating':rating})
df

    Position                 Player Team Rating
0          1             Babar Azam  PAK    886
1          2  Rassie van der Dussen   SA    777
2          3           Fakhar Zaman  PAK    755
3          4            Imam-ul-Haq  PAK    745
4          5           Shubman Gill  IND    738
..       ...                    ...  ...    ...
95        96      Kashyap Prajapati  OMA    431
96        97               Tony Ura  PNG    431
97        98     Niroshan Dickwella   SL    429
98        99            Rashid Khan  AFG    426
99       100            Kyle Mayers   WI    425

[100 rows x 4 columns]

In [46]:
#Top 10 ODI Batsmen along with the records of their team andrating.
df.head(10)

   Position                 Player Team Rating
0         1             Babar Azam  PAK    886
1         2  Rassie van der Dussen   SA    777
2         3           Fakhar Zaman  PAK    755
3         4            Imam-ul-Haq  PAK    745
4         5           Shubman Gill  IND    738
5         6           David Warner  AUS    726
6         7           Harry Tector  IRE    722
7         8            Virat Kohli  IND    719
8         9        Quinton de Kock   SA    718
9        10           Rohit Sharma  IND    707

Top 10 ODI bowlers along with the records of their team andrating.

In [47]:
page = requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling')
page

In [48]:
soup = BeautifulSoup(page.content,'html.parser')

In [49]:
player = []
for i in soup.find_all('div',class_="rankings-block__banner--name-large"):
    player.append(i.text)
for i in soup.find_all('td',class_="table-body__cell rankings-table__name name"):
    player.append(i.text.split('\n')[1])
len(player)

100

In [50]:
team = []
for i in soup.find_all('div',class_="rankings-block__banner--nationality"):
    team.append(i.text.split('\n')[2])
for i in soup.find_all('span',class_="table-body__logo-text"):
    team.append(i.text)
len(team)

100

In [51]:
rating = []
for i in soup.find_all('div',class_="rankings-block__banner--rating"):
    rating.append(i.text)
for i in soup.find_all('td',class_="table-body__cell rating"):
    rating.append(i.text)
len(rating)

100

In [52]:
position = list(range(1,101))

In [53]:
df = pd.DataFrame({'Position':position,'Player':player,'Team':team,'Rating':rating})
df

    Position          Player Team Rating
0          1  Josh Hazlewood  AUS    705
1          2  Mohammed Siraj  IND    691
2          3  Mitchell Starc  AUS    686
3          4      Matt Henry   NZ    667
4          5     Trent Boult   NZ    660
..       ...             ...  ...    ...
95        96   Gulbadin Naib  AFG    391
96        97      Khawar Ali  OMA    390
97        98  Ebadot Hossain  BAN    385
98        99   Vivian Kingma  NED    384
99       100  Marcus Stoinis  AUS    382

[100 rows x 4 columns]

In [54]:
#Top 10 ODI bowlers along with the records of their team andrating.
df.head(10)

   Position            Player Team Rating
0         1    Josh Hazlewood  AUS    705
1         2    Mohammed Siraj  IND    691
2         3    Mitchell Starc  AUS    686
3         4        Matt Henry   NZ    667
4         5       Trent Boult   NZ    660
5         6       Rashid Khan  AFG    659
6         7        Adam Zampa  AUS    652
7         8  Mujeeb Ur Rahman  AFG    637
8         9     Mohammad Nabi  AFG    631
9        10    Shaheen Afridi  PAK    630

Question4: Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape and make data frame-
a) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.
b) Top 10 women’s ODI Batting players along with the records of their team and rating.
c) Top 10 women’s ODI all-rounder along with the records of their team and rating.

In [55]:
page = requests.get('https://www.icc-cricket.com/rankings/womens/team-rankings/odi')
page

In [56]:
soup = BeautifulSoup(page.content,'html.parser')

In [57]:
team = []

for i in soup.find_all('span',class_="u-hide-phablet"):
    team.append(i.text)
team

['Australia',
 'England',
 'South Africa',
 'India',
 'New Zealand',
 'West Indies',
 'Thailand',
 'Bangladesh',
 'Pakistan',
 'Sri Lanka',
 'Ireland',
 'Netherlands',
 'Zimbabwe']

In [58]:
matches = []
for i in soup.find_all('td',class_="rankings-block__banner--matches"):
    matches.append(i.text)
matches

['21']

In [59]:
points = []
for i in soup.find_all('td',class_="rankings-block__banner--points"):
    points.append(i.text)
points

['3,603']

In [60]:
#rating for australia
for i in soup.find_all('td',class_="rankings-block__banner--rating u-text-right"):
    a=i.text
    print(a)
    b=str(a)
    rating=([int(i) for i in b.split() if i.isdigit()])
    
rating

                            172

[172]

In [61]:
# for matches and points of team 
matches_points = []
for i in soup.find_all('td',class_="table-body__cell u-center-text"):
    matches_points.append(i.text)
for i in list(range(0,24,2)):
    matches.append(matches_points[i])
for i in list(range(1,24,2)):
    points.append(matches_points[i])

matches
points

['3,603',
 '3,342',
 '3,098',
 '2,820',
 '2,553',
 '2,535',
 '821',
 '977',
 '1,678',
 '479',
 '548',
 '0',
 '0']

In [62]:
#for rating of teams 
for i in soup.find_all('td',class_="table-body__cell u-text-right rating"):
    rating.append(i.text)
rating

[172, '119', '119', '104', '102', '94', '75', '70', '62', '53', '39', '0', '0']

In [63]:
ranking = list(range(1,14))

In [64]:
df = pd.DataFrame({'Ranking':ranking,'Team':team,'Matches':matches,'Points':points,'Rating':rating})
df

    Ranking          Team Matches Points Rating
0         1     Australia      21  3,603    172
1         2       England      28  3,342    119
2         3  South Africa      26  3,098    119
3         4         India      27  2,820    104
4         5   New Zealand      25  2,553    102
5         6   West Indies      27  2,535     94
6         7      Thailand      11    821     75
7         8    Bangladesh      14    977     70
8         9      Pakistan      27  1,678     62
9        10     Sri Lanka       9    479     53
10       11       Ireland      14    548     39
11       12   Netherlands       9      0      0
12       13      Zimbabwe      11      0      0

In [65]:
#Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.
df.head(10)

   Ranking          Team Matches Points Rating
0        1     Australia      21  3,603    172
1        2       England      28  3,342    119
2        3  South Africa      26  3,098    119
3        4         India      27  2,820    104
4        5   New Zealand      25  2,553    102
5        6   West Indies      27  2,535     94
6        7      Thailand      11    821     75
7        8    Bangladesh      14    977     70
8        9      Pakistan      27  1,678     62
9       10     Sri Lanka       9    479     53

Top 10 women’s ODI Batting players along with the records of their team and rating.

In [66]:
page = requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting')
page

In [67]:
soup = BeautifulSoup(page.content,'html.parser')

In [68]:
player = []
for i in soup.find_all('div',class_="rankings-block__banner--name-large"):
    player.append(i.text)
for i in soup.find_all('td',class_="table-body__cell rankings-table__name name"):
    player.append(i.text.split('\n')[1])
len(player)

100

In [70]:
team = []
for i in soup.find_all('div',class_="rankings-block__banner--nationality"):
    team.append(i.text.split('\n')[2])
for i in soup.find_all('span',class_="table-body__logo-text"):
    team.append(i.text)
len(team)

100

In [71]:
rating = []
for i in soup.find_all('div',class_="rankings-block__banner--rating"):
    rating.append(i.text)
for i in soup.find_all('td',class_="table-body__cell rating"):
    rating.append(i.text)
len(rating)

100

In [72]:
position = list(range(1,101))

In [73]:
df = pd.DataFrame({'Position':position,'Player':player,'Team':team,'Rating':rating})
df

    Position             Player Team Rating
0          1        Beth Mooney  AUS    754
1          2    Laura Wolvaardt   SA    732
2          3     Natalie Sciver  ENG    731
3          4        Meg Lanning  AUS    717
4          5   Harmanpreet Kaur  IND    716
..       ...                ...  ...    ...
95        96          Kim Garth  AUS    202
96        97       Arlene Kelly  IRE    199
97        98        Fatima Sana  PAK    197
98        99  Mary-Anne Musonda  ZIM    196
99       100         Lea Tahuhu   NZ    196

[100 rows x 4 columns]

In [74]:
#Top 10 women’s ODI Batting players along with the records of their team and rating.
df.head(10)

   Position               Player Team Rating
0         1          Beth Mooney  AUS    754
1         2      Laura Wolvaardt   SA    732
2         3       Natalie Sciver  ENG    731
3         4          Meg Lanning  AUS    717
4         5     Harmanpreet Kaur  IND    716
5         6      Smriti Mandhana  IND    714
6         7  Chamari Athapaththu   SL    673
7         8         Ellyse Perry  AUS    626
8         9       Tammy Beaumont  ENG    595
9        10      Stafanie Taylor   WI    588

Top 10 women’s ODI all-rounder along with the records of their team and rating.

In [75]:
page = requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder')
page

In [76]:
soup = BeautifulSoup(page.content,'html.parser')

In [77]:
player = []
for i in soup.find_all('div',class_="rankings-block__banner--name-large"):
    player.append(i.text)
for i in soup.find_all('td',class_="table-body__cell rankings-table__name name"):
    player.append(i.text.split('\n')[1])
len(player)

20

In [78]:
team = []
for i in soup.find_all('div',class_="rankings-block__banner--nationality"):
    team.append(i.text.split('\n')[2])
for i in soup.find_all('span',class_="table-body__logo-text"):
    team.append(i.text)
len(team)

20

In [79]:
rating = []
for i in soup.find_all('div',class_="rankings-block__banner--rating"):
    rating.append(i.text)
for i in soup.find_all('td',class_="table-body__cell rating"):
    rating.append(i.text)
len(rating)

20

In [81]:
position = list(range(1,21))

In [82]:
df = pd.DataFrame({'Position':position,'Player':player,'Team':team,'Rating':rating})
df

    Position                Player Team Rating
0          1       Hayley Matthews   WI    373
1          2        Natalie Sciver  ENG    371
2          3          Ellyse Perry  AUS    366
3          4        Marizanne Kapp   SA    349
4          5           Amelia Kerr   NZ    336
5          6         Deepti Sharma  IND    322
6          7      Ashleigh Gardner  AUS    292
7          8         Jess Jonassen  AUS    250
8          9              Nida Dar  PAK    232
9         10     Sophie Ecclestone  ENG    205
10        11         Sophie Devine   NZ    201
11        12  Chloe-Lesleigh Tryon   SA    197
12        13   Chamari Athapaththu   SL    195
13        14       Katherine Brunt  ENG    195
14        15       Stafanie Taylor   WI    181
15        16          Rumana Ahmed  BAN    176
16        17        Charlotte Dean  ENG    174
17        18             Sune Luus   SA    171
18        19          Salma Khatun  BAN    162
19        20      Harmanpreet Kaur  IND    157

In [84]:
#Top 10 women’s ODI all-rounder along with the records of their team and rating.
df.head(10)

   Position             Player Team Rating
0         1    Hayley Matthews   WI    373
1         2     Natalie Sciver  ENG    371
2         3       Ellyse Perry  AUS    366
3         4     Marizanne Kapp   SA    349
4         5        Amelia Kerr   NZ    336
5         6      Deepti Sharma  IND    322
6         7   Ashleigh Gardner  AUS    292
7         8      Jess Jonassen  AUS    250
8         9           Nida Dar  PAK    232
9        10  Sophie Ecclestone  ENG    205

Question5: Write a python program to scrape mentioned news details from https://www.cnbc.com/world/?region=world and make data frame-
i) Headline
ii) Time
iii) News Link

In [85]:
page = requests.get('https://www.cnbc.com/world/?region=world')
page

In [86]:
soup = BeautifulSoup(page.content,'html.parser')

In [94]:
headline=soup.find('a',class_="LatestNews-headline")
headline.text

"6 remote and hybrid companies that help pay for employees' vacations"

In [96]:
headline = []
for i in soup.find_all('a',class_="LatestNews-headline"):
    headline.append(i.text)
headline

["6 remote and hybrid companies that help pay for employees' vacations",
 "Nvidia stole the earnings spotlight. This week, it's all about the debt ceiling ",
 'Chinese apps remain hugely popular in the U.S. despite efforts to ban TikTok',
 "Harvard psychologist: If you use any of these 9 phrases, 'you're more emotionally secure than most'",
 "Restaurants expect strong sales this summer. Consumers aren't so sure",
 '529 plans: How to score a tax break while saving for future college expenses',
 'These stocks may be due for a pullback after topping analyst price targets',
 'UBS names its top-conviction picks for the rest of 2023',
 'What comes next for ESG funds after the political backlash ',
 "Putin congratulates 'dear friend' Erdogan as NATO's Turkey challenge looks set to stay ",
 '529 college savings plans: How to protect your money in a downturn',
 'This is why streaming services are removing tons of movies and shows',
 'UK government says it is meeting with food bosses over high prices — but denies it will impose caps',
 'Spanish prime minister calls for early general election',
 "Russia bolsters attack on Kyiv; Putin congratulates 'dear friend' Erdogan on reelection",
 "Traders optimistic on debt ceiling deal — one strategist says it's an opportunity",
 "'It's not a bubble yet': Wharton's Jeremy Siegel predicts Big Tech boom fueled by A.I.",
 'CNBC Daily Open: After the debt ceiling, inflation',
 'Europe markets close lower after U.S. debt ceiling deal; SBB up 4% after it says sale possible',
 "Chinese consumers won't return to pre-Covid spending soon, Morgan Stanley says",
 'The biggest money mistakes that could change your future, according to experts',
 'Turkey’s lira sinks to fresh record low after Erdogan re-election',
 "Major central banks were expected to pause rate hikes soon. Now it's not so clear cut",
 'CNBC Daily Open: First the debt ceiling, then inflation',
 'TSMC or Samsung? One chipmaker is the better play on A.I., geopolitics and earnings, analyst says',
 'How much of A.I. is just hype? A bull and a bear share tips on how to invest',
 'Asia markets mixed after U.S. reaches debt ceiling deal; Japan stocks at highest since July 1990',
 "Turkey's President Erdogan seals election victory to enter third decade in power",
 "Debt ceiling deal will be 'transformational' for Americans, McCarthy says",
 'NYC, Las Vegas, D.C.: Free wellness activities in 5 major U.S. cities']

In [97]:
time = []
for i in soup.find_all('time',class_="LatestNews-timestamp"):
    time.append(i.text)
time

['3 Hours Ago',
 '3 Hours Ago',
 '3 Hours Ago',
 '3 Hours Ago',
 '4 Hours Ago',
 '4 Hours Ago',
 '4 Hours Ago',
 '4 Hours Ago',
 '4 Hours Ago',
 '4 Hours Ago',
 '5 Hours Ago',
 '5 Hours Ago',
 '5 Hours Ago',
 '7 Hours Ago',
 '9 Hours Ago',
 '10 Hours Ago',
 '10 Hours Ago',
 '10 Hours Ago',
 '11 Hours Ago',
 '12 Hours Ago',
 '13 Hours Ago',
 '13 Hours Ago',
 '14 Hours Ago',
 '16 Hours Ago',
 '17 Hours Ago',
 '17 Hours Ago',
 '17 Hours Ago',
 '23 Hours Ago',
 'May 28, 2023',
 'May 28, 2023']

In [99]:
news_link = []
for i in soup.find_all('a',class_="LatestNews-headline"):
    news_link.append(i.get('href'))
    
news_link

['https://www.cnbc.com/2023/05/29/remote-and-hybrid-companies-that-help-pay-for-employees-vacations-and-are-all-hiring-now.html',
 'https://www.cnbc.com/2023/05/29/nvidia-stole-the-spotlight-now-its-all-about-the-debt-ceiling-.html',
 'https://www.cnbc.com/2023/05/29/chinese-apps-remain-popular-in-the-us-despite-efforts-to-ban-tiktok.html',
 'https://www.cnbc.com/2023/05/29/harvard-psychologist-if-you-use-these-phrases-you-are-more-emotionally-secure-than-most-people.html',
 'https://www.cnbc.com/2023/05/29/restaurants-see-strong-summer-sales-while-consumers-fear-inflation.html',
 'https://www.cnbc.com/2023/05/29/pros-and-cons-of-529-plans-in-college-savings-and-tax-breaks.html',
 'https://www.cnbc.com/2023/05/29/these-stocks-may-pull-back-after-exceeding-analyst-price-targets.html',
 'https://www.cnbc.com/2023/05/29/ubs-names-its-top-conviction-picks-for-the-rest-of-2023.html',
 'https://www.cnbc.com/2023/05/29/what-comes-next-for-esg-funds-after-the-political-backlash-.html',
 'https://www.cnbc.com/2023/05/29/putin-congratulates-dear-friend-erdogan-as-natos-turkey-challenge-looks-set-to-stay-.html',
 'https://www.cnbc.com/2023/05/29/529-college-savings-plans-how-to-protect-your-money-in-a-downturn.html',
 'https://www.cnbc.com/2023/05/29/streaming-services-remove-movies-shows-heres-why.html',
 'https://www.cnbc.com/2023/05/29/uk-government-says-it-is-meeting-with-food-bosses-over-high-prices-but-denies-it-will-impose-caps.html',
 'https://www.cnbc.com/2023/05/29/spanish-prime-minister-calls-for-early-general-election.html',
 'https://www.cnbc.com/2023/05/29/ukraine-war-live-updates-latest-news-on-russia-and-the-war-in-ukraine.html',
 'https://www.cnbc.com/2023/05/29/traders-optimistic-on-debt-ceiling-deal-strategist-says-its-an-opportunity.html',
 'https://www.cnbc.com/2023/05/29/its-not-a-bubble-yet-whartons-jeremy-siegel-predicts-big-tech-boom-fueled-by-ai.html',
 'https://www.cnbc.com/2023/05/29/stock-markets-after-the-debt-ceiling-inflation.html',
 'https://www.cnbc.com/2023/05/29/european-markets-live-updates-stocks-news-data-and-earnings.html',
 'https://www.cnbc.com/2023/05/29/morgan-stanley-starbucks-wont-benefit-from-chinas-post-covid-recovery.html',
 'https://www.cnbc.com/2023/05/29/the-money-mistakes-that-could-change-your-future-according-to-experts.html',
 'https://www.cnbc.com/2023/05/29/turkeys-lira-sinks-to-near-record-low-as-erdogan-is-reelected.html',
 'https://www.cnbc.com/2023/05/29/major-central-banks-were-expected-to-pause-rate-hikes-soon-now-its-not-so-clear-cut.html',
 'https://www.cnbc.com/2023/05/29/stock-markets-first-the-debt-ceiling-then-inflation.html',
 'https://www.cnbc.com/2023/05/29/tsmc-or-samsung-analyst-picks-the-better-play-on-ai-and-earnings.html',
 'https://www.cnbc.com/2023/05/29/is-ai-here-to-stay-or-just-hype-a-bull-and-a-bear-weigh-in.html',
 'https://www.cnbc.com/2023/05/29/asia-markets.html',
 'https://www.cnbc.com/2023/05/28/turkeys-president-erdogan-seals-election-victory-to-enter-third-decade-in-power.html',
 'https://www.cnbc.com/2023/05/28/debt-ceiling-deal-will-be-transformational-for-americans-mccarthy-says.html',
 'https://www.cnbc.com/2023/05/28/nyc-las-vegas-dc-free-wellness-activities-in-5-major-us-cities.html']

In [100]:
#news details of cnbc hedline ,news link and time  in data frame
df = pd.DataFrame({'Head Line':headline,'Time':time,'News Link':news_link})
df

,Head Line,Time,News Link
0,6 remote and hybrid companies that help pay fo...,3 Hours Ago,https://www.cnbc.com/2023/05/29/remote-and-hyb...
1,Nvidia stole the earnings spotlight. This week...,3 Hours Ago,https://www.cnbc.com/2023/05/29/nvidia-stole-t...
2,Chinese apps remain hugely popular in the U.S....,3 Hours Ago,https://www.cnbc.com/2023/05/29/chinese-apps-r...
3,Harvard psychologist: If you use any of these ...,3 Hours Ago,https://www.cnbc.com/2023/05/29/harvard-psycho...
4,Restaurants expect strong sales this summer. C...,4 Hours Ago,https://www.cnbc.com/2023/05/29/restaurants-se...
5,529 plans: How to score a tax break while savi...,4 Hours Ago,https://www.cnbc.com/2023/05/29/pros-and-cons-...
6,These stocks may be due for a pullback after t...,4 Hours Ago,https://www.cnbc.com/2023/05/29/these-stocks-m...
7,UBS names its top-conviction picks for the res...,4 Hours Ago,https://www.cnbc.com/2023/05/29/ubs-names-its-...
8,What comes next for ESG funds after the politi...,4 Hours Ago,https://www.cnbc.com/2023/05/29/what-comes-nex...
9,Putin congratulates 'dear friend' Erdogan as N...,4 Hours Ago,https://www.cnbc.com/2023/05/29/putin-congratu...
10,529 college savings plans: How to protect your...,5 Hours Ago,https://www.cnbc.com/2023/05/29/529-college-sa...
11,This is why streaming services are removing to...,5 Hours Ago,https://www.cnbc.com/2023/05/29/streaming-serv...
12,UK government says it is meeting with food bos...,5 Hours Ago,https://www.cnbc.com/2023/05/29/uk-government-...
13,Spanish prime minister calls for early general...,7 Hours Ago,https://www.cnbc.com/2023/05/29/spanish-prime-...
14,Russia bolsters attack on Kyiv; Putin congratu...,9 Hours Ago,https://www.cnbc.com/2023/05/29/ukraine-war-li...
15,Traders optimistic on debt ceiling deal — one ...,10 Hours Ago,https://www.cnbc.com/2023/05/29/traders-optimi...
16,'It's not a bubble yet': Wharton's Jeremy Sieg...,10 Hours Ago,https://www.cnbc.com/2023/05/29/its-not-a-bubb...
17,"CNBC Daily Open: After the debt ceiling, infla...",10 Hours Ago,https://www.cnbc.com/2023/05/29/stock-markets-...
18,Europe markets close lower after U.S. debt cei...,11 Hours Ago,https://www.cnbc.com/2023/05/29/european-marke...
19,Chinese consumers won't return to pre-Covid sp...,12 Hours Ago,https://www.cnbc.com/2023/05/29/morgan-stanley...
20,The biggest money mistakes that could change y...,13 Hours Ago,https://www.cnbc.com/2023/05/29/the-money-mist...
21,Turkey’s lira sinks to fresh record low after ...,13 Hours Ago,https://www.cnbc.com/2023/05/29/turkeys-lira-s...
22,Major central banks were expected to pause rat...,14 Hours Ago,https://www.cnbc.com/2023/05/29/major-central-...
23,"CNBC Daily Open: First the debt ceiling, then ...",16 Hours Ago,https://www.cnbc.com/2023/05/29/stock-markets-...
24,TSMC or Samsung? One chipmaker is the better p...,17 Hours Ago,https://www.cnbc.com/2023/05/29/tsmc-or-samsun...
25,How much of A.I. is just hype? A bull and a be...,17 Hours Ago,https://www.cnbc.com/2023/05/29/is-ai-here-to-...
26,Asia markets mixed after U.S. reaches debt cei...,17 Hours Ago,https://www.cnbc.com/2023/05/29/asia-markets.html
27,Turkey's President Erdogan seals election vict...,23 Hours Ago,https://www.cnbc.com/2023/05/28/turkeys-presid...
28,Debt ceiling deal will be 'transformational' f...,"May 28, 2023",https://www.cnbc.com/2023/05/28/debt-ceiling-d...
29,"NYC, Las Vegas, D.C.: Free wellness activities...","May 28, 2023",https://www.cnbc.com/2023/05/28/nyc-las-vegas-...

Question6: Write a python program to scrape the details of most downloaded articles from AI in last 90
days.https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles
Scrape below mentioned details and make data frame-
i)Paper Title
ii)Authors
iii)Published Date
iv)Paper URL

In [101]:
page = requests.get('https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles')
page

In [103]:
soup = BeautifulSoup(page.content,'html.parser')

In [107]:
paper_title = []
for i in soup.find_all('h2',class_="sc-1qrq3sd-1 gRGSUS sc-1nmom32-0 sc-1nmom32-1 btcbYu goSKRg"):
    paper_title.append(i.text)
paper_title

['Reward is enough',
 'Explanation in artificial intelligence: Insights from the social sciences',
 'Creativity and artificial intelligence',
 'Conflict-based search for optimal multi-agent pathfinding',
 'Knowledge graphs as tools for explainable machine learning: A survey',
 'Law and logic: A review from an argumentation perspective',
 'Between MDPs and semi-MDPs: A framework for temporal abstraction in reinforcement learning',
 'Explaining individual predictions when features are dependent: More accurate approximations to Shapley values',
 'Multiple object tracking: A literature review',
 'A survey of inverse reinforcement learning: Challenges, methods and progress',
 'Evaluating XAI: A comparison of rule-based and example-based explanations',
 'Explainable AI tools for legal reasoning about cases: A study on the European Court of Human Rights',
 'Hard choices in artificial intelligence',
 'Assessing the communication gap between AI models and healthcare professionals: Explainability, utility and trust in AI-driven clinical decision-making',
 'Explaining black-box classifiers using post-hoc explanations-by-example: The effect of explanations and error-rates in XAI user studies',
 'The Hanabi challenge: A new frontier for AI research',
 'Wrappers for feature subset selection',
 'Artificial cognition for social human–robot interaction: An implementation',
 'A review of possible effects of cognitive biases on interpretation of rule-based machine learning models',
 'The multifaceted impact of Ada Lovelace in the digital age',
 'Robot ethics: Mapping the issues for a mechanized world',
 'Reward (Mis)design for autonomous driving',
 'Planning and acting in partially observable stochastic domains',
 'What do we want from Explainable Artificial Intelligence (XAI)? – A stakeholder perspective on XAI and a conceptual model guiding interdisciplinary XAI research']

In [108]:
authors = []
for i in soup.find_all('span',class_="sc-1w3fpd7-0 dnCnAO"):
    authors.append(i.text)
authors

['David Silver, Satinder Singh, Doina Precup, Richard S. Sutton ',
 'Tim Miller ',
 'Margaret A. Boden ',
 'Guni Sharon, Roni Stern, Ariel Felner, Nathan R. Sturtevant ',
 'Ilaria Tiddi, Stefan Schlobach ',
 'Henry Prakken, Giovanni Sartor ',
 'Richard S. Sutton, Doina Precup, Satinder Singh ',
 'Kjersti Aas, Martin Jullum, Anders Løland ',
 'Wenhan Luo, Junliang Xing and 4 more',
 'Saurabh Arora, Prashant Doshi ',
 'Jasper van der Waa, Elisabeth Nieuwburg, Anita Cremers, Mark Neerincx ',
 'Joe Collenette, Katie Atkinson, Trevor Bench-Capon ',
 'Roel Dobbe, Thomas Krendl Gilbert, Yonatan Mintz ',
 'Oskar Wysocki, Jessica Katharine Davies and 5 more',
 'Eoin M. Kenny, Courtney Ford, Molly Quinn, Mark T. Keane ',
 'Nolan Bard, Jakob N. Foerster and 13 more',
 'Ron Kohavi, George H. John ',
 'Séverin Lemaignan, Mathieu Warnier and 3 more',
 'Tomáš Kliegr, Štěpán Bahník, Johannes Fürnkranz ',
 'Luigia Carlucci Aiello ',
 'Patrick Lin, Keith Abney, George Bekey ',
 'W. Bradley Knox, Alessandro Allievi and 3 more',
 'Leslie Pack Kaelbling, Michael L. Littman, Anthony R. Cassandra ',
 'Markus Langer, Daniel Oster and 6 more']

In [109]:
published_date = []
for i in soup.find_all('span',class_="sc-1thf9ly-2 dvggWt"):
    published_date.append(i.text)
published_date

['October 2021',
 'February 2019',
 'August 1998',
 'February 2015',
 'January 2022',
 'October 2015',
 'August 1999',
 'September 2021',
 'April 2021',
 'August 2021',
 'February 2021',
 'April 2023',
 'November 2021',
 'March 2023',
 'May 2021',
 'March 2020',
 'December 1997',
 'June 2017',
 'June 2021',
 'June 2016',
 'April 2011',
 'March 2023',
 'May 1998',
 'July 2021']

In [111]:
paper_URL = []
for i in soup.find_all('a',class_="sc-5smygv-0 fIXTHm"):
    paper_URL.append(i.get('href'))
paper_URL

['https://www.sciencedirect.com/science/article/pii/S0004370221000862',
 'https://www.sciencedirect.com/science/article/pii/S0004370218305988',
 'https://www.sciencedirect.com/science/article/pii/S0004370298000551',
 'https://www.sciencedirect.com/science/article/pii/S0004370214001386',
 'https://www.sciencedirect.com/science/article/pii/S0004370221001788',
 'https://www.sciencedirect.com/science/article/pii/S0004370215000910',
 'https://www.sciencedirect.com/science/article/pii/S0004370299000521',
 'https://www.sciencedirect.com/science/article/pii/S0004370221000539',
 'https://www.sciencedirect.com/science/article/pii/S0004370220301958',
 'https://www.sciencedirect.com/science/article/pii/S0004370221000515',
 'https://www.sciencedirect.com/science/article/pii/S0004370220301533',
 'https://www.sciencedirect.com/science/article/pii/S0004370223000073',
 'https://www.sciencedirect.com/science/article/pii/S0004370221001065',
 'https://www.sciencedirect.com/science/article/pii/S0004370222001795',
 'https://www.sciencedirect.com/science/article/pii/S0004370221000102',
 'https://www.sciencedirect.com/science/article/pii/S0004370219300116',
 'https://www.sciencedirect.com/science/article/pii/S000437029700043X',
 'https://www.sciencedirect.com/science/article/pii/S0004370216300790',
 'https://www.sciencedirect.com/science/article/pii/S0004370221000096',
 'https://www.sciencedirect.com/science/article/pii/S0004370216300224',
 'https://www.sciencedirect.com/science/article/pii/S0004370211000178',
 'https://www.sciencedirect.com/science/article/pii/S0004370222001692',
 'https://www.sciencedirect.com/science/article/pii/S000437029800023X',
 'https://www.sciencedirect.com/science/article/pii/S0004370221000242']

In [112]:
#details of most downloaded articles from AI in last 90 days data frame
df = pd.DataFrame({'Paper Title':paper_title,'Authors':authors,'Published Date':published_date,'Paper URL':paper_URL})
df

,Paper Title,Authors,Published Date,Paper URL
0,Reward is enough,"David Silver, Satinder Singh, Doina Precup, Ri...",October 2021,https://www.sciencedirect.com/science/article/...
1,Explanation in artificial intelligence: Insigh...,Tim Miller,February 2019,https://www.sciencedirect.com/science/article/...
2,Creativity and artificial intelligence,Margaret A. Boden,August 1998,https://www.sciencedirect.com/science/article/...
3,Conflict-based search for optimal multi-agent ...,"Guni Sharon, Roni Stern, Ariel Felner, Nathan ...",February 2015,https://www.sciencedirect.com/science/article/...
4,Knowledge graphs as tools for explainable mach...,"Ilaria Tiddi, Stefan Schlobach",January 2022,https://www.sciencedirect.com/science/article/...
5,Law and logic: A review from an argumentation ...,"Henry Prakken, Giovanni Sartor",October 2015,https://www.sciencedirect.com/science/article/...
6,Between MDPs and semi-MDPs: A framework for te...,"Richard S. Sutton, Doina Precup, Satinder Singh",August 1999,https://www.sciencedirect.com/science/article/...
7,Explaining individual predictions when feature...,"Kjersti Aas, Martin Jullum, Anders Løland",September 2021,https://www.sciencedirect.com/science/article/...
8,Multiple object tracking: A literature review,"Wenhan Luo, Junliang Xing and 4 more",April 2021,https://www.sciencedirect.com/science/article/...
9,A survey of inverse reinforcement learning: Ch...,"Saurabh Arora, Prashant Doshi",August 2021,https://www.sciencedirect.com/science/article/...
10,Evaluating XAI: A comparison of rule-based and...,"Jasper van der Waa, Elisabeth Nieuwburg, Anita...",February 2021,https://www.sciencedirect.com/science/article/...
11,Explainable AI tools for legal reasoning about...,"Joe Collenette, Katie Atkinson, Trevor Bench-C...",April 2023,https://www.sciencedirect.com/science/article/...
12,Hard choices in artificial intelligence,"Roel Dobbe, Thomas Krendl Gilbert, Yonatan Mintz",November 2021,https://www.sciencedirect.com/science/article/...
13,Assessing the communication gap between AI mod...,"Oskar Wysocki, Jessica Katharine Davies and 5 ...",March 2023,https://www.sciencedirect.com/science/article/...
14,Explaining black-box classifiers using post-ho...,"Eoin M. Kenny, Courtney Ford, Molly Quinn, Mar...",May 2021,https://www.sciencedirect.com/science/article/...
15,The Hanabi challenge: A new frontier for AI re...,"Nolan Bard, Jakob N. Foerster and 13 more",March 2020,https://www.sciencedirect.com/science/article/...
16,Wrappers for feature subset selection,"Ron Kohavi, George H. John",December 1997,https://www.sciencedirect.com/science/article/...
17,Artificial cognition for social human–robot in...,"Séverin Lemaignan, Mathieu Warnier and 3 more",June 2017,https://www.sciencedirect.com/science/article/...
18,A review of possible effects of cognitive bias...,"Tomáš Kliegr, Štěpán Bahník, Johannes Fürnkranz",June 2021,https://www.sciencedirect.com/science/article/...
19,The multifaceted impact of Ada Lovelace in the...,Luigia Carlucci Aiello,June 2016,https://www.sciencedirect.com/science/article/...
20,Robot ethics: Mapping the issues for a mechani...,"Patrick Lin, Keith Abney, George Bekey",April 2011,https://www.sciencedirect.com/science/article/...
21,Reward (Mis)design for autonomous driving,"W. Bradley Knox, Alessandro Allievi and 3 more",March 2023,https://www.sciencedirect.com/science/article/...
22,Planning and acting in partially observable st...,"Leslie Pack Kaelbling, Michael L. Littman, Ant...",May 1998,https://www.sciencedirect.com/science/article/...
23,What do we want from Explainable Artificial In...,"Markus Langer, Daniel Oster and 6 more",July 2021,https://www.sciencedirect.com/science/article/...